In [1]:
import json
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [10]:
file = open("/Users/santeri/network-monorepo/packages/trackerless-network/results/propagation/2024-12-20T17-06-53-376Z/times.csv", "r")
table = pd.read_csv(file, skipinitialspace=True, header=None)
table

      0
0    20
1    39
2    41
3    39
4    43
..   ..
235  46
236  48
237   3
238   5
239  32

[240 rows x 1 columns]

In [13]:
f = sm.distributions.ECDF(table[0])
x = np.linspace(min(table[0]), max(table[0]))
y = f(x)
ax.plot(x, y)

NameError: name 'ax' is not defined